{% extends 'base.html' %}
{% block head %}<title>注册</title>{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="/register/" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">欢迎注册</h2>
              <div class="form-group">
                  <label>用户名</label>
                  {{ register_form.username}}
              </div>
              <div class="form-group">
                  <label>密码</label>
                  {{ register_form.password1 }}
              </div>
              <div class="form-group">
                  <label>确认密码</label>
                  {{ register_form.password2 }}
              </div>
              <div class="form-group">
                  <label>邮箱</label>
                  {{ register_form.email }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}